/* Basic styling for body and typography */
body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

/* Styling for destination selection container */
#destination-select-container {
  width: calc(100% - 10px); /* Adjust width for smaller screens */
  max-width: 350px;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  flex: 0 0 120px; /* Fixed width for the button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for A-Frame scene */
a-scene {
  width: 100%;
  height: 250px; /* Adjust height for smaller screens */
}

#map-container {
  width: calc(100% - 10px); /* Adjust width for smaller screens */
  height: calc(100vw / 16 * 7); /* 16:7 aspect ratio */
  margin: 5px;
  border: 1px solid #ccc; /* Example border style */
}
