body {
  margin: 0;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  background-image: url("/images/earth.jpg");
  background-size: cover;
  background-opacity: 0.1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#destination-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
}

#select-destination {
  width: 60%;
  padding: 8px;
}

#get-direction-button {
  width: 35%;
  padding: 10px;
  background-color: #5c82f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#get-direction-button:hover {
  background-color: #7da9fc;
}

#a-scene {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

#map-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 30%;
}

#map {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
